%footer.footer
  .container
    %p
      = link_to "About Steeping Tea", "/pages/about"
      |
      = link_to "tuskerette.com", "http://www.tuskerette.com", target: "_blank"
      |
      = link_to "Steeping Tea on github", "https://github.com/tuskerette/SteepingTea", target: "_blank"
      |
      &copy; 2015-2019 - Valeria Graffeo
