%footer.footer
  .container
    %p
      =link_to "About Steeping Tea", "/pages/about"
      |
      &copy; 2016 - Valeria Graffeo
      |
      =link_to "tuskerette.com", "http://www.tuskerette.com", target: "_blank"



