%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#collapse-nav", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to image_tag('st_logo.png'), songs_path, class: 'navbar-brand'
    #collapse-nav.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            =link_to "Logged in as #{current_user.email}", songs_path
          %li
            =link_to "Add a song", new_song_path
          %li
            =link_to edit_user_registration_path do
              Edit Profile
          %li
            =link_to destroy_user_session_path, method: :delete do
              Logout
        - else
          %li
            =link_to "Sign up", new_user_registration_path
          %li
            =link_to "Login", new_user_session_path
