.container
  .row
    .col-md-8.col-xs-8
      %h2 What type of tea are you making?
      %h4
        %ul.nav.nav-tabs{:role => "tablist"}
          %li{:role => "presentation"}
            =link_to "White Tea", songs_path(:white_tea=>'white_tea')
          %li{:role => "presentation"}
            =link_to "Green Tea", songs_path(:green_tea=>"green_tea")
          %li{:role => "presentation"}
            =link_to "Black Tea", songs_path(:black_tea=>"black_tea")
          %li{:role => "presentation"}
            =link_to "Roiboos Tea", songs_path(:roiboos_tea=>"roiboos_tea")
          %li{:role => "presentation"}
            =link_to "Herbal Tea", songs_path(:herbal_tea=>"herbal_tea")
      %h4
        - if flash[:notice]
          .notice=flash[:notice]

    .col-md-4.add-song
      %button.btn.btn-default
        %i.fa.fa-plus
        =link_to "Add a song", new_song_path
  .row
    .col-md-12
      %h2 My songs
      - @songs.each do |song|
        .col-md-6.songs
          =embed(song.url, 420, 315)
          %br
          Notes: #{song.comment}
          %br
          Actions:
          =link_to 'Edit', edit_song_path(song)
          |
          =link_to 'Delete', song_path(song), method: :delete, data: {confirm: "Are you sure?"}
  .row
    .col-md-6.add-song
      %button.btn.btn-default
        %i.fa.fa-plus
        =link_to "Add a song", new_song_path
