.container
  .row
    .col-md-6
      %h2 About Steeping Tea
      %p
        This app is for you, if like me, forget your teabag steeping in the hot water for too long, ruining your afternoon tea...
        %br
        Now you can save your favorite songs from youtube, then pick the type of tea you are steeping.
        Play and enjoy listening to the song.
        %br
        When the song is done, your tea is ready!
        %br
        GREAT, isn't it?
      %h2 About Me
      %p
        I am Valeria, an Italian front-end web developer based in Boston, MA.
        %br
        You can see more projects I made on my website:
        =link_to "tuskerette.com", "http://www.tuskerette.com", target: "_blank"
        %br
        CHEERS!
