.container
  .row
    .col-md-6
      %h2 About Steeping Tea
      %p
        This app is for you, if like me, forget your teabag steeping in hot water for too long, ruining your afternoon tea...
        %br
        Now you can save your favorite songs from youtube,
        %br
        then pick the type of tea you are steeping.
        %br
        Play and enjoy the song.
        %br
        When the song is done, your tea is ready!
        %br
        GREAT, isn't it?
      %h2 About Me
      %p
        You can see more of my projects here:
        = link_to "tuskerette.com", "http://www.tuskerette.com", target: "_blank"
