.container-fluid
  .row
    .col-md-12.welcome
      %h1 WELCOME TO STEEPING TEA
  .row
    .col-md-12.home-center
      Loreipsum
      %br
      Loremipsum
      %br
      Loreipsum
      %br
      Loremipsum
      %br
      Loreipsum
      %br
      Loremipsum
      %br
      Loreipsum
      %br
      Loremipsum
      %br
      Loreipsum
      %br
      Loremipsum
      %br
      %br
      =link_to "Sign up", new_user_registration_path, class: 'btn btn-default'
      or
      =link_to "Login", new_user_session_path, class: 'btn btn-default'

