.container-fluid
  .row
    .col-md-12.welcome
      %h1 WELCOME TO STEEPING TEA
  .row
    .col-md-12.home-center
      %h2 About Steeping Tea
      %p
        This app is for you, if like me, forget your teabag steeping in
        %br
        hot water for too long, ruining your afternoon tea...
        %br
        Now you can save your favorite songs from youtube,
        %br
        then pick the type of tea you are steeping.
        %br
        Play and enjoy the song.
        %br
        When the song is done, your tea is ready!
        %br
        GREAT, isn't it?
    .col-md-12.sign-up
      = link_to "Sign up", new_user_registration_path, class: "btn btn-default"
      or
      = link_to "Login", new_user_session_path, class: "btn btn-default"
    .col.md-12
      = react_component("HelloWorld", { greeting: "Hello-rails." }, { prerender: true })
