.container
  .row
    .col-md-6
      %h2 WELCOME TO STEEPING TEA
      =link_to "Sign up", new_user_registration_path, class: 'btn btn-default'
      or
      =link_to "Login", new_user_session_path, class: 'btn btn-default'

