// Colors
$corn-flower-blue: #6495ED;
$powder-blue: #B0E0E6;
$dark-slate-gray: #2F4F4F;
$antique-white: #FAEBD7;
$light-coral: #F08080;
$tomato: #FF6347;

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $antique-white;
  margin-bottom: 60px;
}

p {
  font-size: 1.2em;
}

.nav.navbar-nav {
  a,
  a:hover,
  a:visited {
    color: $powder-blue;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}

label,
input {
  font-size: 1.2em;
  margin: 10px 0;
}

input[type='submit'] {
  color: $corn-flower-blue;
}

input#song_url {
  width: 300px;
}

label[for=song_url],
label[for=song_comment] {
  margin-right: 40px;
}

button,
.btn,
.btn-default {
  color: $corn-flower-blue;
  font-size: 1.2em;
  a,
  a:hover,
  a:visited {
    color: $corn-flower-blue;
    text-decoration: none;
  }
}

.navbar.navbar-default {
  background-color: $powder-blue;
  border: 0;
  height: 90px;
}

.navbar-default,
.navbar-right,
.navbar-nav {
  li > a {
    color: $corn-flower-blue !important;
    font-size: 1.2em;
    margin-top: 20px;
  }
}

.back-to-all-songs {
  margin-top: 20px;
}

.notice {
  background-color: $light-coral;
  color: $dark-slate-gray;
  font-size: 1.2em;
  padding: 20px;
  border-radius: 10px;
}

.add-song {
  padding: 20px;
}

.songs {
  padding-top: 20px;
}

.footer {
  background-color: $powder-blue;
  bottom: 0;
  height: 50px;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.actions {
  padding: 20px 0;
}

.welcome {
  padding: 40px;
  text-align: center;
}

.home-center {
  background-color: $light-coral;
  padding: 60px;
  text-align: center;
}

.required {
  margin: 20px 0;
}

.field_with_errors {
  color: $tomato;
  display: inline;
}

.sign-up {
  background-color: $light-coral;
  padding: 0 30px 60px;
  text-align: center;
}
