!!!
%html
  %head
    %title SteepingTea
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:400,700", :rel => "stylesheet", :type => "text/css"}
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
  %body
    =render "shared/navbar"
    .row
      .col-xs-12
        =yield
    =render "shared/footer"
